<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Me!</title>
  </head>
  <body>
    <p>I am le super nerd. I am currently learning to code at the Coding Dojo and am
      amazed at how much I have been learning. When I have free time I enjoy playing
      copious amounts of video games across multiple platforms, drawing, collecting
      action figures and occassionally photographing them. I used to play guitar a lot
      more than I currently do and hope to have more time for that in the near future.
      I may not look it, but I was previously in 2 Bay Area bands!</P>

  </body>
</html>
